#app {
  background-color: #121212;
  color: white;

  display: flex;
}

#playlistContainer {
  display: grid;
  grid-template-areas: "aside main main";

  grid-template-columns: 380px 1fr;
}

.marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-165%);
  }
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  cursor: grab;
}
